body {
    padding: 20px;
    background-color: #F2F2F2;
}

.layui-form-label {
    width: 280px !important;
}

.layui-input-block {
    display: -webkit-box !important;
}

.layui-table-tool-temp {
    padding-right: 0;
}

#queryByLoginName {
    display: unset;
    width: 100px;
    margin-left: 10px;
}